body {
  /*   font-family: "Roboto Mono", monospace;
  min-height: 854px;
  background-image: url("");
  background-color: #000000;
  background-size: 800px;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20vh; */

  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  /*   background: linear-gradient(236.85deg, #041832 27.26%, red 96.03%); */

  font-family: "Roboto", sans-serif;

  /*   background-size: cover; */
  /*       position: absolute; */
  /*       top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px; */
  /*       opacity: 0.75; */
}

.container {
  text-align: center;
  padding: 20px;
}

.perfil {
  display: flex;
}

.perfil-foto {
  background: url(image.png);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 460px;
  max-height: 160px;
}

.titulo {
  margin-left: 90px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
  color: white;
}

button,
.button-jogar {
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  /*   background-color: red; */
}

h2 {
  list-style: none;
  font-weight: 700;
  font-size: 24px;
  background: #ecf4ff;
  border-radius: 100px;
}

.baralho {
  font-weight: 200;
  font-size: 18px;
  line-height: 42px;
  padding-bottom: 4px;
}

/*Tamanho da carta e a poriscao  das fotos*/
#carta-jogador,
#carta-maquina {
  width: 360px;
  height: 600px;
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  position: relative;
  background-size: 350px 300px; /*Tamanho das fotos*/
  background-repeat: no-repeat;
  background-position-x: 5px; /*Horizontal*/
  background-position-y: 50px; /*Vertical*/
  border-radius: 33px;
}

#carta-jogador h3 {
  text-align: center;
}

/* .carta-imagem {
  border: 1px solid black;
  height: 50px;
  margin: 10px;
} */

/* .carta-imagem img {
  width: 50%;
  height: 10%;
} */

/*Move os atributos*/
.carta-status {
  height: 190px;
  margin: 2rem;
  color: white;
  z-index: 2;
}

.carta-status input {
  margin: 20px 10px;
}

.resultado-final {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weigth: bolder;
  padding: 1rem;
  border: 2px solid black;
  background-color: black;
}

.--spacing {
  margin-left: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.carta-subtitle {
  color: #000;
  z-index: 2;
  position: absolute;
  top: 41px;
  left: 37px;
  font-weight: 800;
  text-transform: uppercase;
}

#cartas {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/*Carta da Maquina*/
.carta-status p {
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  margin: 0.6rem 2rem 1.2rem 2rem;
  color: white;
  z-index: 2;
  border: 2px solid rgb(214, 187, 127);
  border-radius: 10px;
  display: flex;
  padding: 0rem 4rem 0rem 4rem;
  background-color: rgb(107, 84, 95);
}

.botoes {
  display: none;
}

label:first-of-type {
  margin-top: 0.6rem;
}

label {
  text-transform: capitalize;
  margin: 0rem 2rem 0rem 2rem;
  color: white;
  z-index: 2;
  border: 2px solid rgb(214, 187, 127);
  border-radius: 9px;
  display: flex;
  padding: 0rem 4rem 0rem 4rem;
  background-color: rgb(107, 84, 95);
  cursor: pointer;
  transition: background 0.2s;
}

.botoes:checked + .input-label {
  background: rgb(200, 180, 120);
  font-weight: bold;
}

#cartas-jogador {
  margin: auto;
}

#cartas-jogador label {
  display: inline-flex;
  width: 200px;
}

p {
  color: white;
  padding: 1px;
  margin: 1px;
  line-height: 1em;
  align: left;
  font-size: 18px;
}
